<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ejercicio Vehículos</title>

</head>

<body>
    <div class="container-fluid mt-5">
        <h2 class="text-center display-4">Car registration</h2>
        <div class="row justify-content-center mt-3">
            <form class="col-6" name="carRegistration" id="carRegistration">
                <div class="form-row mt-4">
                    <div class="col-md-4 mb-3">
                        <label for="plate">Plate</label>
                        <input type="text" class="form-control" id="plate" name="plate">
                        <div id="checkPlate">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" name="brand">
                        <div id="brandCheck">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" id="color" name="color">
                        <div id="colorCheck">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-info btn-lg" onclick="createCar()">Create car</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center mt-5 d-none" id="wheelForm">
            <form class="col-6" name="carRegistration" id="wheelForm">
                <div class="form-row mt-4">
                    <div class="col-md-3 mb-3">
                        <label for="wheelBrand0">Wheel brand 1</label>
                        <input type="text" class="form-control" id="wheelBrand0" name="wheelBrand0">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="wheelDiameter0">Wheel diameter 1</label>
                        <input type="number" class="form-control" id="wheelDiameter0" name="wheelDiameter0">
                        <div id="checkDiameter0">
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="wheelBrand1">Wheel brand 2</label>
                        <input type="text" class="form-control" id="wheelBrand1" name="wheelBrand1">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="wheelDiameter2">Wheel diameter 2</label>
                        <input type="number" class="form-control" id="wheelDiameter1" name="wheelDiameter1">
                        <div id="checkDiameter1">
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-md-3 mb-3">
                        <label for="wheelBrand2">Wheel brand 3</label>
                        <input type="text" class="form-control" id="wheelBrand2" name="wheelBrand2">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="wheelDiameter2">Wheel diameter 3</label>
                        <input type="number" class="form-control" id="wheelDiameter2" name="wheelDiameter2">
                        <div id="checkDiameter2">
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="wheelBrand3">Wheel brand 4</label>
                        <input type="text" class="form-control" id="wheelBrand3" name="wheelBrand3">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="wheelDiameter3">Wheel diameter 4</label>
                        <input type="number" class="form-control" id="wheelDiameter3" name="wheelDiameter3">
                        <div id="checkDiameter3">
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-info btn-lg" onclick="addWheels()">Add wheels</button>
                </div>
            </form>
        </div>
        <div class="row justify-content-center mt-5 mb-5 d-none" id="carInfo">
            <div class="col-3">
                <h5>Car information</h4>
                    <div class="card mt-4" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="plateInfo"></li>
                            <li class="list-group-item" id="brandInfo"></li>
                            <li class="list-group-item" id="colorInfo"></li>
                        </ul>
                    </div>
            </div>
            <div class="col-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Wheel</th>
                            <th scope="col">Diameter</th>
                            <th scope="col">Brand</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td id="wheelDiameterInfo0"></td>
                            <td id="wheelBrandInfo0"></td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td id="wheelDiameterInfo1"></td>
                            <td id="wheelBrandInfo1"></td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td id="wheelDiameterInfo2"></td>
                            <td id="wheelBrandInfo2"></td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td id="wheelDiameterInfo3"></td>
                            <td id="wheelBrandInfo3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>